<div class="container mt-4">
  <h1>Beer Styles</h1>
  <ul class="list-group">
    <% @styles.each do |style| %>
      <li class="list-group-item"><%= link_to style.name, style %></li>
    <% end %>
  </ul>
</div>